<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To_Do List</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allura">
    <style>
        .navbar{
            background: linear-gradient(to bottom, #D50EFF 0%, #D50EFF 20%, #65007a 20%, #65007a 80% ,#D50EFF 80%, #D50EFF 100% );
            height: 150px;
            width: 1350px;
        }
        .container{
            text-align: center;  
            margin-top: 15px; 
        }
        .alert{
            padding:15px;
            margin-bottom:20px;
            border:1px solid transparent;
            border-radius:4px;
            color:black;background-color:#adee95;border-color:#adee95;
        }    
        .tableEdit{
            margin-left: auto;
            margin-right: auto;
            width: 80%;
        }        
        h1{
            font-family: Allura;
        }
        h4{
            font-family: Allura;
        }

    </style>
</head>
<body bgcolor="#fae2fe">

    <nav class="navbar my-0">
            <br>
            <h1 style="color: white ; font-size:55px; text-align: center; line-height:0px;">Things To Do</h1>
            <h4 style="color: white ; font-size:25px; text-align: center; line-height:0px;"><<<<<<< >>>>>>></h4>

        <!-- <img src="../ToDoList/logo.png" height="20" width="20" alt="ToDoList"></img> -->
    </nav><br>
    
    
    <div class="container">
        {% if msgs!="empty" %}


        <div class="alert" role="alert">
            
            {{ msgs }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="outline: none;">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
            $('.alert').alert()
            })
        </script>

        {% endif %}
    </div>
    <div style="margin-top: 35px; text-align: center;">

        <form style="font-family: 'Times New Roman', Times, serif; font-size: 20px;" action="/" method="post">
            Your Task: <input type="text" name="desc" id=""><br><br>
            Deadline: <input type="datetime-local" name="dead" id=""><br><br>
            <input type="submit" value="Add">
        </form>
        <br><br><br>
        {% if msgs != "empty" %}
        <div>
            <table class="tableEdit">
                <thead>
                <tr style="font-size: 20px; font-family: 'Times New Roman', Times, serif; font-weight: bolder;">
                    <th scope="col" class="text-center">Task No.</th>
                    <th scope="col" class="d-none d-sm-table-cell">Task Description</th>
                    <th scope="col" class="d-none d-md-table-cell">Deadline</th>
                    <th scope="col" class="d-none d-md-table-cell">Status</th>
                </tr>
                </thead>
                <tbody>
                {% for task in todolist %}
                <tr style="background-color: {{task[3]}}; font-size: '13px'; font-family: 'Times New Roman', Times, serif; border-radius: '4px';">
                    <th scope="row"  style="border-radius:4px; border:1px solid transparent;">{{todolist.index(task)+1}}</th>
                    <td class="d-none d-sm-table-cell" style="border-radius:4px; border:1px solid transparent;">{{task[0]}}</td>
                    <td class="d-none d-sm-table-cell" style="border-radius:4px; border:1px solid transparent;">{{task[2]}}</td>
                    <td class="d-none d-sm-table-cell" style="border-radius:4px; border:1px solid transparent;"><input type="checkbox" class="save-cb-state" name={{task[4]}} value="Done"></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    

    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- This JavaScript file is required to load the XpressDox interview as well as the code required to run it -->
 
    <script>
        // Avoid scoping issues by encapsulating code inside anonymous function
        (function() {
        // variable to store our current state
        var cbstate;
    
        // bind to the onload event
        window.addEventListener('load', function() {
            // Get the current state from localstorage
            // State is stored as a JSON string
            cbstate = JSON.parse(localStorage['CBState'] || '{}');
        
            // Loop through state array and restore checked 
            // state for matching elements
            for(var i in cbstate) {
            var el = document.querySelector('input[name="' + i + '"]');
            if (el) el.checked = true;
            }
        
            // Get all checkboxes that you want to monitor state for
            var cb = document.getElementsByClassName('save-cb-state');
        
            // Loop through results and ...
            for(var i = 0; i < cb.length; i++) {
        
            //bind click event handler
            cb[i].addEventListener('click', function(evt) {
                // If checkboxe is checked then save to state
                if (this.checked) {
                cbstate[this.name] = true;
                }
            
            // Else remove from state
                else if (cbstate[this.name]) {
                delete cbstate[this.name];
                }
            
            // Persist state
                localStorage.CBState = JSON.stringify(cbstate);
            });
            }
        });
        })();
    </script>    

    {% endif %}

</body>
</html>