<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Page</title>

    <style> 
        dialog{
            color:darkgreen;
            font-size: 30px;
            font-weight: 800;
            font-style: italic;
            font-family: 'Times New Roman', Times, serif;
        }

        body{
            text-align: center;
        }
    </style>
</head>
<body>
    <dialog open>
        Task Has Been Successfully Added!

    </dialog>
    
    
</body>
</html>